* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    background-color: #35424a;
    width: 100%;
    height: 100%;

}

.nav-container {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #a9508b;
    padding-left: 3rem;
}

.header {
    font-size: 2.5em;
    color: white;
}

.clarusway-text {
    color: #a9508b;
}

.nav-bar {
    display: flex;
    word-spacing: 1.5rem;
    margin-right: 2rem;

}

ul li {
    list-style: none;
}

.home-link {
    margin-right: 3rem;
    font-size: 1.3em;
    text-transform: uppercase;
    color: white
}

.about-link {
    margin-right: 3rem;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #a9508b;

}

.services-link {
    margin-right: 1.5rem;
    font-size: 1.3em;
    text-transform: uppercase;
    color: white;
}

.home-link:hover {
    color: white;
}

.about-link:hover,
.services-link:hover {
    color: #a9508b;
}

a:link {
    text-decoration: none;
}

.nav-footer {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
}

h3 {
    color: white;
    font-size: 1.7em;
}

.email {
    display: flex;
    margin-right: 3rem;
    height: 3rem;
    width: 25%;
}

#mail {
    margin-right: 0.5rem;
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2em;
}

::placeholder {
    font-size: 1.2em;
    padding-left: 0.4rem;
}

.btn {
    width: 30%;
    height: 100%;
    background-color: #e8491d;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff1e00
}

main {
    background-color: #f4f4f4;
    width: 100%;
    height: 50rem;
}

.main-container {
    padding-left: 3rem;
    margin-right: 3rem;
    width: 100%;
    display: flex;
    font-size: 1.2em;
    line-height: 2rem;
}

h4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-us {
    width: 65%;
    margin-right: 5rem;
}

.what-we-do {
    background-color: #35424a;
    width: 35%;
    color: white;
    margin-top: 2rem;
    margin-right: 3rem;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.para2 {
    background-color: #35424a;
    color: white;
    margin-top: 2rem;
    padding: 1rem;

}

.para3 {
    margin-bottom: 2rem;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
}

@media screen and (max-width:1025px) {

    main {
        height: 62rem;
    }


    h3 {
        font-size: 1.5em;
    }

    .email {
        width: 50%;
    }

    #mail {

        font-size: 1em;
    }

}

@media screen and (max-width:769px) {
    body {
        font-size: 14px;
    }

    .nav-container {
        flex-direction: column;
        justify-content: space-around;
        padding-left: 0rem;
    }

    .header {
        font-size: 1.5em;
    }

    .services-link {
        margin-right: 0rem;
    }

    main {
        height: 65rem;
    }
}

@media screen and (max-width:415px) {

    body {
        font-size: 12px;
    }

    .nav-bar {
        margin-right: 0rem;
    }

    .nav-footer {
        flex-direction: column;
        justify-content: space-around;
        padding-left: 0rem;
    }

    h3 {
        font-size: 1.5em;
    }

    .email {
        margin-right: 0rem;
        height: 2rem;
        width: 80%;
    }

    #mail {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
    }

    main {
        height:65rem;
    }

    .main-container {
        padding-left: 0rem;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        line-height: 1.8rem;
    }

    h4 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .about-us {
        width: 100%;
        margin-right: 5rem;
    }

    .what-we-do {
        background-color: #35424a;
        width: 100%;
        color: white;
        margin-top: 2rem;
        margin-right: 3rem;
        padding-top: 0;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    .para2 {
        background-color: #35424a;
        color: white;
        margin-top: 2rem;
        padding: 0.5rem;

    }
    .footer{
        height: 4rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: white;
    }
    .clarusway-logo{
        margin-top: 0.5rem;
        width: 25%;
    }

}